h1.morph-shape
  span.hide iElecterm
  img(src='ielecterm.png', alt='iElecterm')
.pd2y.desc
  p
    strong A professional, modern terminal for macOS, built to support open-source development.
  
  p iElecterm is the premium version of the open-source terminal,
    a(href='https://github.com/electerm/electerm', target='_blank') electerm
    | , which has garnered over 13,000 stars on GitHub. This edition is crafted for users seeking a top-tier experience and a direct way to contribute to the project's future.
  
  h2 Why iElecterm?
  
  p By purchasing iElecterm from the Mac App Store, you are investing in the sustainable development of both the open-source and pro versions. The funds raised will be used to:
  
  ul
    li
      strong Cover Essential Costs: 
      | Pay for the annual Apple Developer Program fees, ensuring we can continue to deliver and update the app on macOS.
    li
      strong Fuel Development: 
      | Support the continuous creation of new features and performance improvements for both Electerm and iElecterm.
    li
      strong Sustain the Project: 
      | Ensure that the project remains active, responsive, and well-maintained for the long term.

  p iElecterm is built on the solid foundation of its open-source counterpart but is re-imagined with a focus on performance and innovation, free from the constraints of backward compatibility.

